@import "latte.css";

window#waybar {
  transition: background-color 1s;
  color: @text;
  background-color: alpha(@crust, 0.95);
}

window#waybar.hidden {
  opacity: 0.2;
}

tooltip {
  background-color: @mantle;
  color: @text;
}

#workspaces,
.modules-center,
.modules-right {
  border: 7px solid transparent;
  border-radius: 16px;
  background-color: @base;
}

button {
  border: none;
  border-radius: 0;
}

#workspaces button {
  font-size: 20px;
  padding: 0 10px 0 5px;
  background-color: transparent;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  color: @text;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background-color: @surface1;
}

#workspaces button.active {
  /* background-color: @surface0; */
  color: @flamingo;
}

#workspaces button.urgent {
  background-color: @red;
}

#custom-media,
#pulseaudio,
#memory,
#cpu,
#temperature,
#backlight,
#battery,
#tray {
  padding: 2px 15px 2px 6px;
}

#clock {
  padding: 2px 15px;
}

#custom-media {
  color: @green;
}

#pulseaudio {
  color: @teal;
}

.modules-right > *:nth-child(1) > #pulseaudio {
  padding-left: 15px;
}

#memory {
  color: @sapphire;
}

#cpu {
  color: @blue;
}

#temperature {
  color: @mauve;
}

#backlight {
  color: @pink;
}

#battery {
  color: @flamingo;
}

#battery.warning {
  color: @crust;
  background-color: @yellow;
}

#battery.critical:not(.charging) {
  color: @crust;
  background-color: @red;
}

#tray {
  color: @sky;
  padding-left: 10px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
